@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "roboto-regular";
  src: url("/fonts/Roboto-Regular") format("truetype");

}

@font-face{
  font-family: "roboto-bold";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face{
  font-family: "roboto-medium";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face{
  font-family: "roboto-italic";
  src: url("/fonts/Roboto-Italic.ttf") format("truetype");
}


body {
  font-family: Arial, Helvetica, sans-serif;
}
